<div>
    <form action="" method="post" class="form-inline">
        {% csrf_token %}
        <div style="position: relative; margin-right: 4%;" class="form-group label_filtro">
            <label style=" position: absolute; 
            margin-bottom: 35%;">Fecha de inicio</label>
            <input type="date" autocomplete="off" name="fecha_inicio" id="este" required>
        </div>
        <div style="position: relative; margin-right: 4%;" class="form-group">
            <label class="label_filtro" style=" position: absolute; 
            margin-bottom: 35%;">Fecha de fin</label>
            <input type="date" autocomplete="off" name="fecha_final" required>

        </div>
        <div style="position: relative; margin-right: 4%; width: 16%;" class="form-group">
            <input style="width: 100%;" type="text" name="razon_social" class="form-control" data-toggle="modal" data-target="#myModal" placeholder="Selección de un proveedor" readonly>    
        </div>
        <button type="submit" class="btn btn-outline-primary btn-sm" name="boton_filtro" value="."><i class="material-icons">book</i>&nbsp;Generar reporte</button>

        <div id="myModal" class="modal fade" role="dialog">
            {% if 'tables-ventas' in segment %} 
                {% include 'includes/popups-producto.html' %}
            {% else %}
                {% include 'includes/popups-proveedor.html' %}
            {% endif %}
            
        </div>

        

    </form>

</div>