

<!-- Modal -->
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div style="width: 55%; margin-left: 25%;" class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Proveedores Disponibles</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            {% for y in columnas_popu_provee %}
                            <th>
                                {{ y }}
                            </th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% for x in lista_popu_provee %}
                                <tr>
                                    <td class="text-primary">
                                        {{ x.razon_social }}
                                    </td>
                                    <td>
                                        {{ x.telefono }}
                                    </td>
                                    <td>
                                        <button type="submit" value="{{ x.id }}" name="id_seleccion"
                                            class="btn btn-outline-secondary btn-sm" onclick=hola()><i
                                                class="material-icons">photo_filter</i>&nbsp;Seleccionar</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Cerrar</button>
        </div>
    </div>

</div>