{% load static %}

    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           class="simple-text logo-normal">
           <img class="log_img_rosita" src="{% static 'assets/img/logo_sin_letra.png' %}" alt="Imagen logo">Papelería Rosita
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'page-product' in segment %} active {% endif %}">

            <a class="nav-link listaSidebar" type="button" id="dropdownProductos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">color_lens</i>Productos
            </a>
            <div class="nav-link dropdown-menu" aria-labelledby="dropdownProductos">
             <a class="nav-link dropdown-item listaSidebar" href="/tables-productos.html">Lista de productos</a>
             <a class="nav-link dropdown-item listaSidebar" href="/page-crte-product.html">Agregar producto</a>
            </div>
            </a>

          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">

            <a class="nav-link listaSidebar" type="button" id="dropdownProvee" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">contact_phone</i>Proveedores
            </a>
            <div class="nav-link dropdown-menu" aria-labelledby="dropdownProvee">
             <a class="nav-link dropdown-item listaSidebar" href="/ui-tables.html">Lista de proveedores</a>
             <a class="nav-link dropdown-item listaSidebar" href="/page-crte-proveedores.html">Agregar proveedores</a>
            </div>
            </a>

          </li>
          <li class="nav-item {% if 'tables-compras' in segment %} active {% endif %}">

            <a class="nav-link listaSidebar" type="button" id="dropdownCompras" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">local_grocery_store</i>Compras
            </a>
            <div class="nav-link dropdown-menu" aria-labelledby="dropdownCompras">
             <a class="nav-link dropdown-item listaSidebar" href="/tables-compras.html">Lista de compras</a>
             <a class="nav-link dropdown-item listaSidebar" href="/page-crte-compras.html">Agregar compras</a>
            </div>
            </a>

          </li>
          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">

            <a class="nav-link listaSidebar" type="button" id="dropdownVentas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">attach_money</i>Ventas
            </a>
            <div class="nav-link dropdown-menu" aria-labelledby="dropdownVentas">
             <a class="nav-link dropdown-item listaSidebar" href="/ui-tables.html">Lista de ventas</a>
             <a class="nav-link dropdown-item listaSidebar" href="/page-crte-ventas.html">Agregar ventas</a>
            </div>
            </a>

          </li>
          
          <!--   
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>-->

          <li class="nav-item active-pro ">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>PRO Version</p>
            </a>
          </li>
        {% endif %}
        </ul>
      </div>

    </div>
