{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- value={{respuesta.products.0.nombre_producto}}  -->

{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>  
  let alerta = "{{result}}"
  if(alerta == "Success"){
    swal("Éxitoso", "El producto se ha creado", "success");
  }else if (alerta == "Error"){
    swal("Error", "Error guardando datos", "error");
  }
</script>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{encabezado}}</h4>
                  <p class="card-category"> Ventas </p>
                </div>
                <div class="card-body">
                  
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre del Producto</label>
                          <input required type="text" name="nombre_producto" class="form-control" data-toggle="modal" data-target="#myModal" readonly>
                          <input required type="number" name="id_producto" value="" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cantidad</label>
                          <input required type="number" name="cantidad" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Crear producto</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Productos Disponibles</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>
                              Nombre del proveedor
                            </th>
                            <th>
                              Email
                            </th>
                            <th>
                              Telefono
                            </th>
                          </thead>
                          <tbody>
                          <form action="" method="post">
                            
                            <tr>
                              <td class="text-primary">
                                Kevin Garcia SAS
                              </td>
                              <td>
                                KSGARCIAP@UNBOSQUE.EDU.CO
                              </td>
                              <td>
                                3203421774
                              </td>
                            </tr>
                          </form>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- include profile.hmtl -->
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
