{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!-- value={{respuesta.products.0.nombre_producto}}  -->

{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>  
  let alerta = "{{result}}"
  if(alerta == "Success"){
    swal("Éxitoso", "El producto se ha creado", "success");
  }else if (alerta == "Error"){
    swal("Error", "Error guardando datos", "error");
  }
</script>
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{encabezado}}</h4>
                  <p class="card-category"> Ventas </p>
                </div>
                <div class="card-body">
                  
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">ID del producto</label>
                          <input hidden required htype="text" value="{{producto.product.nombre_producto}}" name="nombre_producto" class="form-control" data-toggle="modal" data-target="#myModal">
                          <input required htype="text" value="{{detventa.detail.id_producto_id}}" name="id_producto" class="form-control" data-toggle="modal" data-target="#myModal">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cantidad</label>
                          <input required type="number" value="{{detventa.detail.cantidad}}" name="cantidad" class="form-control">
                        </div>
                      </div>
                    </div>
                    {% if action == "GET" %}
                    <button type="submit" class="btn btn-primary pull-right">Crear Venta</button>
                    {% else %}
                    <input type="text" hidden name="fecha" value="{{detventa.detail.fecha}}">
                    <input type="text" hidden name="id_detVenta" value="{{detventa.detail.id_detventa}}">
                    <button name="page_ventas_edit_button" type="submit" class="btn btn-primary pull-right">Editar Venta</button>
                    {% endif %}
                    
                    
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
