{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>  
  let alerta = "{{result}}"
  if(alerta == "Success"){
    swal("Éxitoso", "El producto se ha creado", "success");
  }else if (alerta == "Error"){
    swal("Error", "Error guardando datos", "error");
  }
</script>
<!-- value={{respuesta.proveedor.0.razon_social}}  -->
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{encabezado}}</h4>
                  <p class="card-category">Compras proveedores</p>
                </div>
                <div class="card-body">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">ID Proveedor</label>
                          <input hidden type="text" name="razon_social" class="form-control" data-toggle="modal" value="{{proveedor.provider.razon_social}}" data-target="#myModal" readonly>
                          <input required type="text" name="id_proveedor" class="form-control" data-toggle="modal" value="{{detcompra.detail.id_proveedor_id}}" data-target="#myModal" >
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">ID Producto</label>
                          <input hidden  type="text" name="nombre_producto" class="form-control"  value="{{producto.product.nombre_producto}}" data-toggle="modal" data-target="#myModal" readonly>
                          <input required type="text" name="id_producto" class="form-control"  value="{{detcompra.detail.id_producto_id}}" data-toggle="modal" data-target="#myModal" >
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cantidad</label>
                          <input required type="number" name="cantidad" value="{{detcompra.detail.cantidad}}" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input required type="date" name="fecha" class="form-control" value="{{detcompra.detail.fecha}}" style="color: lightslategray">
                        </div>
                      </div>
                    </div>
                    {% if action == "GET" %}
                    <button type="submit" class="btn btn-primary pull-right">Registrar Compra</button>
                    {% else %}
                    <input hidden type="text" name="id_detcompra" value="{{detcompra.detail.id_detcompra}}">
                    <button type="submit" name="page_detcompra_edit_button" value="" class="btn btn-primary pull-right">Editar Compra</button>
                    {% endif %}
                    
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>

          {% with message="null" %} 
          {% endwith %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
