{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include 'includes/filtro.html' %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">{{ titulo_tabla }}</h4>
        <p class="card-category"> {{ subtitulo_tabla }}</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nombre del producto
              </th>
              <th>
                Nombre del proveedor
              </th>
              <th>
                Cantidad comprada
              </th>
              <th>
                Fecha
              </th>
              <th>
              </th>
              <th>
              </th>
            </thead>
            <tbody>
            <form action="" method="post">
              {% csrf_token %}
              {% for x in lista %}
              <tr>
                <td class="text-primary">
                  {{ x.producto }}
                </td>
                <td>
                  {{ x.proveedor }}
                </td>
                <td>
                  {{ x.cantidad }}
                </td>
                <td>
                  {{ x.fecha }}
                </td>
                <td>
                  <button type="submit" value="{{ x.id }}" name="id" class="btn btn-outline-secondary btn-sm"><i class="material-icons">edit</i></button>
                </td>
                <td>
                  <button type="submit" value="{{ x.id }}" name="id" class="btn btn-outline-danger btn-sm"><i class="material-icons">delete</i></button>
                </td>
              </tr>
              {% endfor %}
            </form>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}