{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}



{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  let alerta = "{{success}}"
  console.log(alerta)
  if(alerta=='True'){
    swal("Éxitoso", "El usuario se creo exitosamente", "success");
  }else if (alerta=='False'){
    swal("Error", "El usuario no fue crado", "error");
  }
</script>

  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Crear usuario
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
            {% if msg %}
              <span class="text-danger">{{ msg | safe }}</span>
            {% else %}
              Registra los datos del usuario
            {% endif %}  
          </h6>
          
            <form method="post" action="">
                
              {% csrf_token %} 

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Rol</label>
                    {{form.is_superuser}}
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Usuario</label>
                    {{ form.username }}
                  </div>
                  <span class="text-danger">{{ form.username.errors }}</span>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Correo</label>
                    {{ form.email }}
                  </div>
                  <span class="text-danger">{{ form.email.errors }}</span>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Primer nombre</label>
                    {{ form.first_name }}
                  </div>
                  <span class="text-danger">{{ form.first_name.errors }}</span>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Apellido</label>
                    {{form.last_name}}
                  </div>
                  <span class="text-danger">{{ form.last_name.errors }}</span>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Contraseña</label>
                    {{form.password1}}
                  </div>
                  <span class="text-danger">{{ form.password1.errors }}</span>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Confirmación de la contraseña</label>
                    {{form.password2}}
                  </div>
                </div>
                <span class="text-danger">{{ form.password2.errors }}</span>
              </div>
              

              <button type="submit" name="register" class="btn btn-primary pull-left">Crear usuario</button>

            </form>
          

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
